.box_start {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #f2f3fc;
}

.box_start .box_right {
    width: 35%;
}
/* text */
.box_start .box_right ._text {
    margin-bottom: 40px;
}

.box_start .box_right ._text h1 {
    letter-spacing: 1px;
}
.box_start .box_right ._text p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: #111;
}


/* input */
.box_start .box_form form span {
    display: flex;
    border: 1px solid #9cadf2;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    color: #FFF;
    background-color: #FFF;
  
}

.box_start .box_form form span i {
    border-right: 1px solid #9cadf2;
    padding-right: 15px;
    color: #9cadf2;
    background-color: #FFF;
}

.box_start .box_form form span input {
    width: 100%;
    height:40px;
    border: none;
    padding-left: 10px;
    outline: none;

}
/* Button */
.box_start .box_form form button {
    margin-top: 20px;
    padding: 15px 50px;
    margin-right: 10px;
    background-color: #36f;
    color: #FFF;
    border:none;
    width: 100%;
    border-radius: 8px;
    letter-spacing: 1px;
    
}


/**** Media Tablet In One Page *****/

@media only screen and (max-width:950px) {
    .box_start {
        flex-direction: column;
        height: 100%;
        text-align: center;
        
    }
    .box_start .box_right {
        width: 80%;
    }
}

@media only screen and (max-width:600px) {

    /* image  */
    .box_start .box_left {
        width: 100%;
    }

    .box_start .box_left img {
        width: 100%;
    }
    /* text */
    .box_start .box_right ._text {
        text-align: center;
    }   

}